{% extends 'base.html' %}

{% block header %}
    <script type="application/javascript">
        function showWait() {
            var waitModal = new bootstrap.Modal(document.getElementById('staticBackdropWait'), { keyboard: false });
            waitModal.show();
        }
    </script>
    <h2>{% block title %} cyberScanner {% endblock %}</h2>
{% endblock %}
{% block content %}
    <div class="container w-50">
        <form method="get" onsubmit="showWait()">
            <div class="input-group my-2">
                <span class="input-group-text">Network / IPs</span>
                <input class="form-control" type="text" placeholder="192.168.1.1, 192.168.1-100, 192.168.1.0/24, [192.168.1.1, 127.0.0.1]" aria-label="Network" name="network" required>
            </div>
            <div class="input-group my-2">
                <span class="input-group-text">Ports</span>
                <input class="form-control" type="text" placeholder="1, 1-1024, [1,20]" aria-label="Ports" name="ports" required>
                <button class="btn btn-outline-danger text-nowrap" type="submit">Start Scan</button>
            </div>
            <div class="form-check form-switch my-2">
              {% if saveresults == "on" %}
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck" name="save_results" checked>
              {% else %}
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck" name="save_results">
              {% endif %}
              <label class="form-check-label" for="flexSwitchCheck">Save Results</label>
            </div>
            <div class="p-3">Recent saved scans from your IP: ({{ userip }})
            {% for id, scdate, network, ports, userip in scans.values_list %}
                <div class="p-1">
                    <a href="?id={{ id }}">{{ network }}</a>
                </div>
            {% endfor %}
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdropWait" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Scan in progress...</h1>
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
              </div>
              <div class="modal-body">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
              </div>
{#              <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                <button type="button" class="btn btn-primary">Understood</button>#}
{#              </div>#}
            </div>
          </div>
        </div>
    </div>

{% endblock %}