{% extends 'base.html' %}

{% block header %}
    <script type="application/javascript">
        function showWait() {
            var waitModal = new bootstrap.Modal(document.getElementById('staticBackdropWait'), { keyboard: false });
            waitModal.show();
        }
    </script>
    <h2>{% block title %} cyberTrace {% endblock %}</h2>
{% endblock %}
{% block content %}
    <div class="container w-50">
        <div>cyberTrace will perform a traceroute to the specified IP or domain and display the results on a map of the world so you can see where your packets are traveling.</div>
        <form method="get" onsubmit="showWait()">
            <div class="input-group my-2">
                <span class="input-group-text">IP Address / Domain</span>
                <input class="form-control" type="text" placeholder="8.8.8.8, google.com" aria-label="IP Address" name="ipaddr" value="{{ ipaddr }}" required>
                <button class="btn btn-outline-success text-nowrap" type="submit">Start Trace</button>
            </div>
            <div class="form-check form-switch">
              {% if saveresults == "on" %}
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck" name="save_results" checked>
              {% else %}
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck" name="save_results">
              {% endif %}
              <label class="form-check-label" for="flexSwitchCheck">Save Results</label>
            </div>
            <div class="p-3">Recent saved traces from your IP: ({{ userip }})
            {% for id, trdate, ip, userip in tr_list.values_list %}
                <div class="p-1">
                    <a href="?id={{ id }}">{{ ip }}</a>
                </div>
            {% endfor %}
        </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdropWait" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Trace in progress...</h1>
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
              </div>
              <div class="modal-body">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
              </div>
{#              <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                <button type="button" class="btn btn-primary">Understood</button>#}
{#              </div>#}
            </div>
          </div>
        </div>
    </div>

{% endblock %}